@model Vjezba.Web.Models.Mock.Ducani

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<script src="~/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>

<h2>Details</h2>

<div>
    <h4>Ducani</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>